@import "reset";
@import "hamburger";
$theme-color: #cc0000;

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms';
  src: url('../fonts/TTNorms-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms-black';
  src: url('../fonts/TTNorms-Black.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  &.show-modal {
    overflow: hidden;
  }
}

.hamburger {
  position: absolute;
  right: 0;
  display: none;
}

.hero-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  margin-right: 0;
  margin-top: -10%;

}

.hero_title {
  color: $theme-color;
  font-size: 80px;
  line-height: 1.5;
  text-transform: uppercase;
  font-family: 'TTNorms-black', sans-serif;
  margin-bottom: 80px;
  text-align: center;
}

.signup-link {
  padding: 15px 50px;
  font-size: 22px;
  font-family: 'TTNorms-black', sans-serif;
  color: #fff;
  background-color: $theme-color;
  text-decoration: none;
  text-transform: uppercase;
}

// modal
.wrap-modal:not(.hide) {
  pointer-events: auto;
  background: rgba(0,0,0,.5);
  transition: background .5s;
  .inner-modal {
    opacity: 1;
    transition: opacity .3s .3s;
  }
}

.wrap-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
  background: transparent;
  pointer-events: none;
  cursor: pointer;
  transition: background .5s .3s;
}

.close-modal {
  right: 0;
  position: absolute;
  font-size: 25px;
}

.inner-modal {
  max-width: 530px;
  width: 100%;
  position: relative;
  opacity: 0;
  cursor: default;
  transition: opacity .3s;
  background: #fff;
  form {
    input, button {
      display: block;
      margin: 20px auto;
    }
  }
}

.modal-title {
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
  font-family: 'TTNorms', sans-serif;
}

.email-input, .name-input {
  border: 1px solid #ccc;
  padding: 10px 5px;
  &:focus {
    outline: none;
  }
}

.sumbit-btn {
  background: $theme-color;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
}

.container {
  width: 100%;
  margin: 0 auto;
  z-index: 5;
}

.nav-wrap {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-link {
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 20px;
  font-family: 'TTNorms', sans-serif;
  &.active {
    color: $theme-color;
    &.active-second {
      color: #fff;
    }
  }
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  &.colored-bg {
    background-color: #ce0808;
    color: #fff;
  }
}

.header {
  position: fixed;
  bottom: 50px;
  z-index: 10;
  width: 100%;
}

.text-wrap {
  display: flex;
  flex-direction: column;
  p {
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    line-height: 30px;
  }
}

.bg-text {
  position: absolute;
  left: 0;
  z-index: -1;
  margin-top: -10%;
  span {
    color: #f5f5f5;
    font-family: 'TTNorms-black', sans-serif;
    text-transform: uppercase;
    opacity: 0.5;
  }
  .bg-text-first {
    font-size: 30vw;
  }
  .bg-text-second {
    font-size: 14.5vw;
  }
}

#yellow-hover {
  &:hover {
    ~ .bg-text {
      span {
        color: yellow;
      }
    }
  }
}

#green-hover {
  &:hover {
    + .bg-text {
      span {
        color: green;
      }
    }
  }
}

.w50p {
  width: 50%;
  margin-bottom: 70px;
  &.right {
    align-self: flex-end;
    p {
      padding-left: 50px;
    }
  }
  &.left {
    align-self: flex-start;
    p {
      padding-right: 50px;
    }
  }
}

.message-form {
  padding-left: 50px;
  input, textarea {
    display: block;
    border: 2px solid #000;
    margin-bottom: 20px;
    padding: 15px 7px;
    color: #333;
    font-family: 'OpenSans', sans-serif;
    width: 90%;
    &:focus {
      outline: none;
    }
  }

  button {
    background-color: $theme-color;
    color: #fff;
    padding: 17px 50px;
    border: none;
    font-family: 'TTNorms-black', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}

@media screen and (min-width: 990px) and (max-width: 1100px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    max-width: 1100px;
  }
}

@media screen and (max-width: 990px){
  header {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .hamburger {
    display: inline-block;
  }
  nav {
    display: none !important;
    background-color: #ccc;
    width: 100%;
    &.is-active {
      display: block !important;
    }
  }
  .nav-link {
    display: block;
    margin-right: 0;
    line-height: 2.5;
    overflow: hidden;
    //padding: 0 40px;
    font-size: calc(10px + 2vw);
  }
  .container {
    width: 100%;
  }
  .hero-wrap {
    margin-right: auto;
  }
  .w50p {
    width: 100%;
    &.left, &.right {
      align-self: normal;
      p {
        padding: 15px;
      }
    }
  }
  .bg-text {
    display: none;
  }
  .message-form {
    padding: 15px;
  }
}

@media screen and (max-width: 768px){
  .hero_title {
    font-size: 56px;
  }
}

@media screen and (max-width: 430px){
  .hero-wrap {
    width: 90%;
  }
  .hero_title {
    font-size: 46px;
  }
  .section:not(.first-section) {
    display: block;
    height: auto;
  }
}